{% extends "base.html.twig" %}
{% block title %} Circle Jump {% endblock %}
{% block body %}
    <div class="container">
        <h1>Password reset succesfully</h1>
        <p>You can now <a href="/login">login</a></p>
    </div>
{% endblock %}