{% extends "base.html.twig"  %}
{% block title %}Circle Jump {% endblock %}

{% block body %}
    <div class="container">
        <div class="col s12 m8 offset-m2 l4 offset-l4">
            <h4>Request password reset</h4>
            <p>Password reset link invalid or expired, please click <a href="/password/forgot">here</a> to request a new one.</p>
        </div>
    </div>
{% endblock %}