{% extends "base.html.twig" %}
{% block title %} Circle Jump - Home {% endblock %}
{% block body %}

    <!-- SLIDER -->
    <section class="slider">
        <ul class="slides">
            <li>
                <img src="/assets/images/landing-slider/parallax03_preview-01.png">
                <div class="caption center-align">
                    <h3>A movement focused platformer.</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        Master the unique movement system.
                    </h5>
                </div>
            </li>
            <li>
                <img src="/assets/images/landing-slider/game_background_3.1.png">
                <div class="caption left-align">
                    <h3>Leaderboards</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        Compete with others for rank 1.
                    </h5>
                </div>
            </li>
            <li>
                <img src="/assets/images/landing-slider/snowy01_preview-01.png">
                <div class="caption right-align">
                    <h3>Level Editor</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        Create own maps and share them.
                    </h5>
                </div>
            </li>
            <li>
                <img src="/assets/images/landing-slider/preview-01.png">
                <div class="caption center-align">
                    <h3>30 Maps included.</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        Chose from a wide variety of maps.
                    </h5>
                </div>
            </li>
        </ul>
        <div class="play">
            <a href="/game/play" class="btn waves-effect waves-light orange darken-1">
                <i class="material-icons left">directions_run</i>
                Play
            </a>
        </div>
    </section>
    <!-- END-SLIDER -->

    <!-- FEATURES -->
    <section class="features section section-icons grey lighten-2 center">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-3 grey-text text-darken-3">
                        <i class="fas fa-trophy medium indigo-text text-darken-4"></i>
                        <h4>Leaderboards</h4>
                        <p>Measure your skill by finishing maps as fast as possible racing against everyone else.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-3 grey-text text-darken-3">
                        <i class="fas fa-user-edit medium indigo-text text-darken-4"></i>
                        <h4>Level Editor</h4>
                        <p>Create your own maps and share them with everyone. They will also appear in the leaderboards.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-3 grey-text text-darken-3">
                        <i class="fas fa-check medium indigo-text text-darken-4"></i>
                        <h4>30 Maps</h4>
                        <p>Contains 30 Maps to play, varying from easy to extremely hard maps each with its own unique theme.</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- END-FEATURES -->


    <!-- FOOTER -->
    <footer class="section indigo darken-4 white-text center">
        <p class="flow-text">Circle Jump &copy; 2018</p>
    </footer>
    <!-- END-FOOTER -->


{% endblock %}



