* {
    box-sizing: border-box;
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 2px;
    /*color: #333;*/
}

html {
  font-size: 16px;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

input {
  width: 100%;
  display: inline-block;
  padding: 10px;
  height: 40px;
}

canvas {
    display: block;
    width: 100%;
}

@keyframes glow_gold {
  from {
    text-shadow: 0 0 20px gold;
  }
  to {
    text-shadow: 0 0 40px gold;
  }
}

@keyframes glow_silver {
  from {
    text-shadow: 0 0 15px silver;
  }
  to {
    text-shadow: 0 0 30px silver;
  }
}

@keyframes glow_bronze {
  from {
    text-shadow: 0 0 15px #cd7f32;
  }
  to {
    text-shadow: 0 0 30px #cd7f32;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.debug-tools {
  background: #f4f4f4;
}

.debug-tools > .header {
  text-align: center;
  padding: 20px;
  color: #f9f9f9;
  font-size: 20px;
  background: #bbb;
  text-transform: uppercase;
}

.debug-tools > .body {
  padding: 10px;
}

.debug-tools .controls > .start,
.debug-tools .controls > .stop {
  float: left;
  width: 45%;
}

.debug-tools .controls > .start {
  margin-right: 10%;
  background-color: #4cbb17
}

.debug-tools .controls > .stop {
  background-color: #DC143C;
}


.debug-tools .map-loader > .map-name {
  float: left;
  width: 80%;
  border: 1px solid #AAA;
  border-right: none;
}

.debug-tools .map-loader > .load-map {
  width: 20%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  background: #1034a6;
}


.debug-tools .render-controls > .toggleMode,
.debug-tools .render-controls > .visualizeCol {
  background-color: #6c757d;
}

.game {
    position: relative;
    height: 880px;
    background: #000;
}

.game > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.game .loader {
  width: 100%;
  text-align: center;
}

.game .loader > .svg {
  width: 300px;
}

.game > .loading-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game > .loading-info > .progress-bar {
    margin-top: 50px;
    width: 600px;
    height: 30px;
    border: 3px solid #fff;
}

.game > .loading-info > .progress-bar > .progress {
    height: 100%;
    background-color: dodgerblue;
    width: 0;
}

/**************************************\
|*      Game menu common               |
\**************************************/

.game > .game-menus {
  position: relative;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: url('/assets/images/menu/menu_bg.png');
  background-size: cover;
  z-index: 2;
}

.game > .game-menus > .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 10px;
  background: rgba(0,0,0, 0.7);
  overflow: hidden;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  font-size: 1.5rem;
}

.game > .game-menus > .menu .title,
.game > .game-menus > .menu .subtitle {
  padding: 10px;
  text-align: center;
  color: #e6e6e6;
}

.game > .game-menus > .menu .title {
  font-size: 3rem;
}

.game > .game-menus > .menu .subtitle {
  font-size: 2rem;
}

.game > .game-menus > .menu .button {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0, 0.2);
}

.game > .game-menus > .menu .button > .label {
  text-align: center;
  color: #40dbf0;
}

.game > .game-menus > .menu .button:hover {
  background: linear-gradient(to right, #0b4ea6,#21a6e4);
  cursor: pointer;
}

.game > .game-menus > .menu .button > img {
  width: 100px;
}

.game > .game-menus > .menu .list {
  width: 100%;
  height: 300px;
  background: rgba(0,0,0, 0.4);
  overflow-y: scroll;
  margin: 0 auto;
}

.game > .game-menus > .menu .list > .item {
  padding: 10px;
  text-align: center;
  color: #40dbf0;
}

.game > .game-menus > .menu .list > .item:hover {
  color: #e6e6e6;
  background: linear-gradient(to right, #0b4ea6,#21a6e4);
  cursor: pointer;
}

.game > .game-menus > .menu .list > .item.selected {
  color: #e6e6e6;
  background: linear-gradient(to right, orangered, orange);
}

.game > .game-menus > .menu .rankings {
  color: #e6e6e6;
}

.game > .game-menus > .menu .rankings .header {
  padding: 10px;
  background: #212529;
  font-size: 2rem;
  color: #e6e6e6;
}

.game > .game-menus > .menu .rankings .body {
  height: 250px;
  overflow-y: scroll;
}

.game > .game-menus > .menu .rankings .score {
  padding: 10px;
  background: rgba(0,0,0, 0.4);
}

.game > .game-menus > .menu .rankings .score.player-time {
  background: linear-gradient(-45deg, #003018, #489030, #003018);
  //background: linear-gradient(-45deg, transparent, #ef7f0c, transparent);
  background-size: 200% 200%;
  animation: Gradient 5s linear infinite;
}

.game > .game-menus > .menu .rankings .rank {
  float: left;
  width: 20%;
}

.game > .game-menus > .menu .rankings .name {
  float: left;
  width: 50%;
}

.game > .game-menus > .menu .rankings .time {
  float: left;
  width: 30%;
}

/**************************************\
|*      Game main menu                 |
\**************************************/

.game > .game-menus > .main {

}

.game > .game-menus > .main > .button {
  transition: width 0.2s, border 0.2s;
}

.game > .game-menus > .main > .button > img {
  float: left;
  transition: all 0.2s ease-in-out;
}

.game > .game-menus > .main > .button > .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #40dbf0;
  transition: all 0.2s;
}

.game > .game-menus > .main > .button:hover {

}

.game .game-menus > .main > .button:hover > img {
  transform: scale(1.04);
}

.game > .game-menus > .main > .button:hover > .label {
  color: #e6e6e6;
  left: 52%;
}

/**************************************\
|*      Game map selection menu        |
\**************************************/

.game > .game-menus > .map-selection {
  padding: 20px;
}


.game > .game-menus > .map-selection > .selection {
  text-align: center;
  color: #4cbb17;
}

.game > .game-menus > .map-selection > .list {
  width: 80%;
  margin-top: 20px;
}

.game > .game-menus > .map-selection > .selection > .map {
  color: #4cbb17;
}

.game > .game-menus > .map-selection > .notice {
  color: yellow;
  text-align: center;
  margin-top: 20px;
}

.game > .game-menus > .map-selection > .confirm {
  position: relative;
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
  cursor: pointer;
}

.game > .game-menus > .map-selection > .confirm:active img {
  transform: translate(0, 2%);

}

.game > .game-menus > .map-selection > .confirm img {
  width: auto;
  height: 75px;
}

.game > .game-menus > .map-selection > .confirm > .confirm-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #e6e6e6;
  transition: translate 0.2s;
}

.game > .game-menus > .map-selection > .confirm:active > .confirm-text {
  transform: translate(-50%, -55%);
}


/**************************************\
|*      Game leaderboard menu          |
\**************************************/

.game > .game-menus > .leaderboard.menu {
  width: 80%;
  height: 700px;
  padding: 10px;
}

.game > .game-menus > .leaderboard.menu > .body {
  height: 590px;
  margin-top: 10px;
}

.game > .game-menus > .leaderboard.menu .maps,
.game > .game-menus > .leaderboard.menu .map-leaderboard {
  float: left;
  height: 590px;
}

.game > .game-menus > .leaderboard.menu .maps {
  width: 30%;
}

.game > .game-menus > .leaderboard.menu .maps .list {
  height: calc(100% - 60px);
}

.game > .game-menus > .leaderboard.menu .map-leaderboard {
  position: relative;
  float: right;
  width: calc(70% - 10px);
}

.game > .game-menus > .leaderboard.menu .map-leaderboard .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.game > .game-menus > .leaderboard.menu .map-leaderboard .no-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
}

.game > .game-menus > .leaderboard.menu .title {
  background: #212529;
}

.game > .game-menus > .leaderboard.menu .subtitle {
  position: relative;
  z-index: 2;
  background-color: #212529;
}

.game > .game-menus > .leaderboard.menu .trophies {
  margin-top: 10px;
}

.game > .game-menus > .leaderboard.menu .trophies > .first {
  position: relative;
  width: 40%;
  margin-left: 38%;
}

.game > .game-menus > .leaderboard.menu .trophies > .second,
.game > .game-menus > .leaderboard.menu .trophies > .third {
  float: left;
  width: 40%;
}

.game > .game-menus > .leaderboard.menu .trophies > .second {
  margin-left: 20%;
}

.game > .game-menus > .leaderboard.menu .trophies > .first .player {
  animation: glow_gold 2s infinite alternate;
}

.game > .game-menus > .leaderboard.menu .trophies > .second .player {
  animation: glow_silver 2s infinite alternate;
}

.game > .game-menus > .leaderboard.menu .trophies > .third .player {
  animation: glow_bronze 2s infinite alternate;
}

.game > .game-menus > .leaderboard.menu .trophies .trophy,
.game > .game-menus > .leaderboard.menu .trophies .player {
  float: left;
}

.game > .game-menus > .leaderboard.menu .trophies .trophy {
  height: 80px;
  max-width: 50%;
}

.game > .game-menus > .leaderboard.menu .trophies > .first .flare {
  width: 180px;
  position: absolute;
  top: -50px;
  left: -40px;
  animation: spin 15s infinite linear;
  z-index:1;
}

.game > .game-menus > .leaderboard.menu .trophies .player {
  position: relative;
  z-index: 2;
  width: 50%;
  line-height: 100px;
  color: #e6e6e6;
  padding-left: 10px;
}

.game > .game-menus > .leaderboard.menu .trophies > .first .trophy {
  height: 100px;
  position: relative;
  z-index: 2;

}

.game > .game-menus > .leaderboard.menu .map-leaderboard .subtitle .map {
  color: #4cbb17;
}

/**************************************\
|*      Map completion menu            |
\**************************************/

.game > .game-menus .map-complete.menu {
  position: relative;
  min-height: 600px;
}

.game > .game-menus .map-complete.menu .submit-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #e6e6e6;
  text-align: center;
}


.game > .game-menus .map-complete.menu .statistics > .header {
  background: linear-gradient(-45deg, #053752, #1894ac, #053752);
  background-size: 200% 200%;
  animation: Gradient 20s linear alternate infinite;
}

.game > .game-menus .map-complete.menu .statistics .map {
  color: #4cbb17;
}

.game > .game-menus .map-complete.menu .statistics .subtitle .time {
  color: yellow;
}

.game > .game-menus .map-complete.menu .statistics .rankings {
  padding: 20px;
}

.game > .game-menus .map-complete.menu .controls {
  padding: 20px;
}

.game > .game-menus .map-complete.menu .controls .button {
  float: left;
  width: 45%;
  border-radius: 10px;
}

.game > .game-menus .map-complete.menu .controls .button.quit {
  margin-left: 10%;
}


