{% extends "base.html.twig" %}
{% block title %} Error {% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1 class="red-text text-darken-2">An error occured.</h1>
                <p class="html-500-text">Sorry, an error has occured. Please try again later.</p>
                <p class="html-500-text">Return to the <a class="indigo-text text-darken-4" href="/">Homepage</a>?</p>
            </div>
        </div>
    </div>

{% endblock %}